
.backitem{
    font-size:10pt;
    font-family:Verdana;
    display:inline;
}

.topMargin{
    margin-top:15px;
}

.H1CityText{
    font-family:Verdana;
    margin-top:10px;
    color:#ff6600;
}

.internalpagewidth{
    margin-left:10%;
    width:80%;

}

.btnsigns{
    margin-left:40px;
    color:white;
    border-radius:19px;
    border:none;
    background-color:#002160;
    font-size:13px;
    font-family:Verdana;
    padding:10px,20px,10px,20px;
    box-shadow: 4px 4px 4px grey;
    width:150px;
    height:30px;
    right:30px;
}

            .tdRentalRatesBlue    {
            font-family: Arial;
            color:  #002160;
            font-weight: bold;
            font-size: 14px;
        }
            .tdRentalRates
        {
            padding-left: 5px;
            padding-right:3px;
            font-family: Arial;
            color:  #738EA7;
            /*font-weight: bold;*/
            font-size: 14px;
        }
                   .amenities
        {
            padding-left: 15px;
            color: #050505;
            font-size:14px;
            font-weight: bold;
        }
                   .amenitiesCaption
        {
            color: #050505;
            font-size:14px;
            font-weight: bold;
            
        }
                  .liDesccity
        {

            padding-right: 15px;
            margin-top: 10px;
            color: #3c3c3c;
            font-size: 14px;
         }

.btnsigns:hover{
    border:none;
    background-color:#154890;
}

.tableborder{
    border:2px solid #cdbfac;

    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:10px;
    margin-right:20px;
    color:#9b7f59;
    font-family:Verdana;
    font-size:9pt;
}


.txtalign{
     display: inline-block;
     text-align:left;
}

.inlineblock{
    display:inline;
}

.viewalllink{
    margin-left:15px;
    font-size:11pt;
}

.linkpadding{
    margin-left:30px;
    margin-top:30px;
}

.stateful{
    margin:20px 100px;
}

ul.stateful li{
  display: inline-block;
     list-style-position:inside;
    border: 1px solid #0094ff;
    padding:20px;

}

ul.proplist{
    list-style:none;
    margin-top:0px;
}

td{
    vertical-align:baseline;
}

.H3CityText{
    font-size:12pt;
    font-style:italic;

}
.bottomline{
    border-bottom:1px solid #cdbfac;
    height:180px;
    
}

.imgstyle{
    margin-top:10px;
    margin-bottom:10px;
    box-shadow: 4px 4px 5px grey;
}

.newline{
    display:block;
}

ul.proplists{
    list-style:none;

}

ul.proplists div{
    font-family:Verdana;
    font-size:13pt;
    color:lightskyblue;
    margin-right:13px;
}

ul.proplists li{
    display:inline;
}