.internalpagewidth{
    margin-left:10%;
    width:80%;

}

.backitem{
    margin-left:20px;
    margin-top:30px;
    font-size:10pt;
    font-family:Verdana;
}

.H1CityText{
    font-family:Verdana;
    margin-top:10px;
    color:#ff6600;
}

.orangetxt{
    color:white;
    font-family:Verdana;
    font-size:13pt;
    background-color:#ff6600;
    text-align:center;
    height:35px;
    margin-top:15px;
    padding-top:5px;
    margin-bottom:15px;
}

.txtalign{
     display: inline-block;
     text-align:left;
     margin-left:20px;
}

.inlineblock{
    display:inline;
    margin-left:15px;
}

.viewalllink{
    margin-left:15px;
    font-size:11pt;
}

.linkpadding{
    margin-left:30px;
    margin-top:30px;
}

.stateful{
    margin-top:20px;
    margin-left:0px;
    padding:20px;
}


ul.stateful li{
  display: inline-block;
     list-style-position:outside;
    border: 1px solid #0094ff;
    border-right:0px;
    padding:10px;
}

ul.stateful li:last-child{
    border-right:1px solid #0094ff;

}

.borderright{
    border-right:1px solid #0094ff;
}

ul.countrylist{
    list-style:none;

}


ul.countrylist li{
    display:inline-block;
}

.contentpadding{
    margin-left:40px;
    margin-right:40px;
}

.contentstyle{
    font-family:Verdana;
    font-size:11pt;
    margin-left:5px;
}