#headertitle{
    color:lightblue;
    font-family:Verdana;
    font-size:16px;
}

#headerlast{
    color:black;
    font-family:Verdana;
    font-size:16px;
}

.normaltxt{
    color:black;
    font-family:Verdana;
    font-size:12px;
}

.normalval{
    color:lightblue;
    font-family:Verdana;
    font-size:12px;
}

#validnumber{
    width:40px;
}

.formborder{
    border:3px solid #2390ee;
    border-radius:3px;
    background-color:#808080;
     padding:50px;
}

.formpadding{
    padding:20px;
}

.top_formrow { margin-top:20px; }