.internalpagewidth{
    margin-left:10%;
    width:80%;
}


@media screen and (max-width: 400px) {

}

.newline{
    margin:10px;
}

.newrow{
    margin:0px;

}

a.wlocation{
    font: 14px Vedrana, Arial, Helvetica, sans-serif;
    font-weight:300;
    color:#6699FF;
    text-decoration:none;
}

.clocation{
    display:block;
    font: 12px Vedrana, Arial, Helvetica, sans-serif;
    font-weight:300;
}

a.wlocation:hover{
       color:#6699FF;
    text-decoration:none;
}


.newitem{
    display:inline-block;
    width:25%;
    vertical-align:top;
    margin-top:50px;
}

.comments{
    width:170px;
    margin:0 auto;
    text-align:left;
    color: #050505;
    font-size:12px;
    font-weight:100;
}

.comments span{
    font-weight:100;
}

.bottomborder{
    border-bottom:2px solid #cdbfac;
    min-height:220px;
    vertical-align:top;
}

.imgstyle{
    margin-top:5px;
    margin-bottom:5px;
    border: 1px solid #ACA593;
    width:170px;
    height:140px;
}

.borerstep{
    border:3px solid #ACA593;
}

.stepfont{
   
   font-family:Verdana;
   font-size:12px;
   color:#9b7f59;
   font-weight: 500;
   margin-top:5px;
}

.stepfont label{
    margin-left:10px;
   font-weight: 500;
}
.stepfont input[type=radio]{
    margin-left:20px;
}

.col-1{
    width:7% ;
    display:inline-block;
    vertical-align:top;
}

.col-2{
    width:16% ;
    display:inline-block;
    vertical-align:top;
}

ul.radiogroup{
    margin:10px,0,0,0;
       list-style:none;
}
ul.radiogroup li{
    display:inline;
}

.col-6{
    width:74% ;
    display:inline-block;
}

.col-3{
    width:25% ;
    display:inline-block;
 }

.centered{
    text-align:center;
}

.clear{
    clear:both;
}

.btnsigns{
     width: 117px !important;
    border-radius: 1em;
    color: white;
    font-family: arial;
    font-size: 12px;
    background: #154890;
    cursor: pointer;
    font-weight: bold;
    height: 26px;
    right: 6px;
    margin-bottom:10px;
    width: 120px;
    box-shadow: 2px 2px 6px #154890;
    border: 1px solid #154890;
}


.btnsigns:hover{
    border:none;
    background-color:#154890;
}



ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline; cursor:pointer;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.curpage {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.curpage) {background-color: #ddd;}

.loading-bro {
  margin: 50px auto;
  width: 100px;
}

.loading-bro  > h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
    font-weight: 300;
    color: #8E8E8E;
  }

#load {
    width: 100px;
    animation: loading 3s linear infinite;
}

#load    #loading-inner {
    stroke-dashoffset:0;
    stroke-dasharray:300;
    stroke-width:10;
    stroke-miterlimit:10;
    stroke-linecap:round;

       
      animation: loading-circle 2s linear infinite;
      stroke: #51BBA7;
      fill: transparent;
    }

@keyframes loading {
		0% { 
      transform: rotate(0); 
    }
		100% { 
      transform: rotate(360deg);
    }
}
@keyframes loading-circle {
		0% { 
      stroke-dashoffset: 0
    }
		100% { 
      stroke-dashoffset: -600;
    }
}