.internalpagewidth {
    margin-left: 10%;
    width: 80%;
    margin-top:25px;
}

.backitem{
    margin-left:20px;
    margin-top:15px;
    font-size:12pt;
    font-family:Verdana;
}

.H1CityText{
    font-family:Verdana;
    margin-top:30px;
    color:#ff6600;
}
.orangetxt{
    color:white;
    font-family:Verdana;
    font-size:13pt;
    background-color:#ff6600;
    text-align:center;
    height:35px;
    margin-top:15px;
    padding-top:5px;
    margin-bottom:15px;
}

.txtalign{
     display: inline-block;
     text-align:left;
     margin-left:20px;
}

.inlineblock{
    display:inline;
    margin-left:15px;
}

.viewalllink{
    margin-left:15px;
    font-size:11pt;
}

.linkpadding{
    margin-left:30px;
    margin-top:30px;
}

.stateful{
    margin-top:20px;
    margin-left:0px;
    padding:20px;
}

ul.stateful li{
  display: inline-block;
     list-style-position:inside;
    border: 1px solid #0094ff;
    padding:10px;

}

ul.countrylist{
    list-style:none;

}


ul.countrylist li{
    display:inline-block;
}

.contentpadding{
    margin-left:40px;
    margin-right:40px;
}

.contentstyle{
    font-family:Verdana;
    font-size:11pt;
    margin-left:5px;
}

.listingPagesH1Container{
    margin-top:5px;

}

.listingPagesH1Container h3{
    display:inline;
    font-size:10pt;
    font-family:Verdana;
}

.wrapper{
    margin-top:30px; margin-bottom:10px;
}

.inquriyform td{
    height:40px;
}

.proptable td{
    width:150px;
    padding-left:5px;
}

table.proptable {
    			background: #f5ede3;
}

.ViewPropertyPageFonts{
    font-size:14px;
    font-family:Verdana;
    color:#1d2d33;
}

.drop-shadow {
  position:relative;
  display:inline-block;
  padding:4px;
  border:1px solid #e1d4c0;
  background:#fff;

}
.drop-shadow:after, .drop-shadow:before{
     content:"";
    position:absolute;
    z-index:-2;
}


.perspective:after {
    left:0px;
    width:100px;
    bottom:10%;
    height:80%;
    box-shadow:80px 0 8px rgba(0, 0, 0, 0.4);
  -webkit-transform: skew(-10deg);
   -moz-transform: skew(-10deg);
   -ms-transform: skew(-10deg);
   -o-transform: skew(-10deg);
   transform: skew(-10deg);
   -webkit-transform-origin: 0% 100%;
   -moz-transform-origin: 0% 100%;
   -ms-transform-origin: 0% 100%;
   -o-transform-origin: 0% 100%;
   transform-origin: 0% 100%;
}

.perspective:before{
    display:none;
}

.effect4
{
  position: relative;
}
.effect4:after
{
     position: absolute;   
    z-index: -1; 
    top: 3px;
    bottom: 0;
    left: 79%;
    background: rgba(0,0,0,0.3);
    box-shadow: 4px 0 3px rgba(0,0,0,0.3);
    width: 20%; 
    height:50%;   
    transform: rotate(3deg);
}  

.TitleFont{
    font-size:14px;
    font-family:Verdana;
    color:#1D2D33;
    margin:15px 25px;
    margin-top:0px;
}


	ul.tabs{
			margin: 30px 15px;
			padding: 0px;
			list-style: none;
            background: transparent;
            border-bottom: 3px solid #ff6600; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px;
            text-align:center;
		}
		ul.tabs li{
			background-color: #ff6600;
            border-top-left-radius:5px;
            border-top-right-radius:5px;
            border:none;
			color: #f5ede3;
			display: inline-block;
			padding: 5px 15px;
			cursor: pointer;
            margin-left:0px;
            width:16%;
            text-align:center;
		}

		ul.tabs li.current{
			background: #f5ede3;
			color: #ff6600;
		}

		.tab-content{
			display: none;
			background-color:transparent;
			padding: 5px;
            margin:0px 15px;
		}


		.tab-content.current{
			display: block;
		}

        div.centered 
{
    text-align: center;
}


.textfont{
    text-align: left;color: #3c3c3c;font-size: 14px;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

div.centered> table 
{
    margin: 0 auto; 
    text-align: left;
    border:none;
}


.inquriyform{
     border: 5px solid #f0b892;    border-radius: 55px; padding: 30px 10px 10px;background-color: rgb(250, 251, 252);color:rgb(118,114,113);
 }

.btnBookNow{
    color:white;
}

.PropTable10 td{
    text-align:center;
    width:250px;
          color:#000;
          border:1px solid white;
}

table.PropTable10{
    background-color:#f5ede3;
      font-size: 11pt;
      font-family:Verdana;
      color:black;
}

.contentfont{
      font-size: 14px;
      font-family:Verdana;
      text-align:left;
      color:black;
}
.NonTable{
    display:none;
}

 /* The Modal (background) */
.modalform {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.dlghead{
    position:absolute;
    right:45px;
}

/* Modal Content/Box */
.modal_contents {
    background-color: transparent;
    margin: 15% auto; /* 15% from the top and centered */
    border: 0px solid #888;
    position:relative;
    width: 400px; /* Could be more or less, depending on screen size */
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s
}

.animationCon{
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.7s;
    animation-name: animatetop;
    animation-duration: 0.7s
}

/* The Close Button */
.mclose {
    color: #000;


    font-size: 28px;
    font-weight: bold;
}

.mclose:hover,
.mclose:focus {
    color: #444;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
    
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}

}